#loginCard {
    padding: 16px;
}

#loginCard .header {
    color: var(--c-text-muted);
}

#loginCard .header .material-symbols-outlined {
    font-size: 36px;
}

#loginCard .header .title {
    font-size: 24px;
    font-weight: 500;
}

#nav {
    padding: 8px 16px;
    background: var(--c-bg-lighter);
    border-bottom: 1px solid var(--c-border);
}

#breadcrumbs .btn {
    height: auto;
    padding: 4px 8px;
    font-size: 16px;
    color: var(--c-text-muted);
}

#breadcrumbs .btn.current {
    color: var(--c-text-bold);
}

#breadcrumbs .sep {
    font-size: 16px;
    color: var(--c-text-muted);
    margin: 0px 8px;
    user-select: none;
}

#sidebar {
    width: 250px;
    border-right: 1px solid var(--c-border);
    padding: 16px 8px;
}

#sidebar .header {
    font-size: 14px;
    color: var(--c-text-muted);
    padding: 0px 8px;
}

#sidebar .vault {
    height: auto;
    padding: 8px 12px;
    border-radius: 8px;
    justify-content: flex-start;
    font-size: 15px;
    text-align: left;
    gap: 12px;
}

#sidebar .vault .name {
    overflow: auto;
    white-space: wrap;
    color: var(--c-text-bold);
}

#sidebar .vault .usage-bar {
    height: 4px;
    background: var(--c-border);
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 4px;
}

#sidebar .vault .usage-bar .usage-fill {
    height: 100%;
    background: var(--c-btn-primary-bg);
}

#sidebar .vault .usage-bar .usage-fill.danger {
    background: var(--c-btn-danger-bg);
}

#sidebar .vault .small {
    font-size: 12px;
    color: var(--c-text-muted);
}

#sidebar .sep {
    height: 1px;
    background: var(--c-border);
}

#sidebar .account {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--c-border);
    background: var(--c-bg-lighter);
}

#actions {
    padding: 8px;
    border-bottom: 1px solid var(--c-border);
}

#actions .sep {
    width: 1px;
    height: 32px;
    background: var(--c-border);
    margin: 0px 8px;
}

#actions .btn .material-symbols-outlined {
    font-variation-settings: "FILL" 0;
}

#headers {
    padding: 4px 20px;
    background: var(--c-bg);
}

#files {
    padding: 8px;
    padding-top: 0px;
}

#headers .header .btn {
    color: var(--c-text-muted);
    height: auto;
    padding: 6px 12px;
    gap: 8px;
    justify-content: flex-start;
    margin-left: -12px;
}

#headers .header .btn .material-symbols-outlined {
    font-size: 24px;
    margin: -8px 0px -8px 0px;
    margin-right: -12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#browser[data-sort-type="name"][data-sort-order="asc"] .header.name .btn .icon::after,
#browser[data-sort-type="size"][data-sort-order="asc"] .header.size .btn .icon::after,
#browser[data-sort-type="date"][data-sort-order="asc"] .header.date .btn .icon::after {
    content: 'keyboard_arrow_down';
}

#browser[data-sort-type="name"][data-sort-order="desc"] .header.name .btn .icon::after,
#browser[data-sort-type="size"][data-sort-order="desc"] .header.size .btn .icon::after,
#browser[data-sort-type="date"][data-sort-order="desc"] .header.date .btn .icon::after {
    content: 'keyboard_arrow_up';
}

#headers .icon,
#files .icon {
    width: 36px;
    font-size: 24px;
    font-variation-settings: "FILL" 1;
    color: var(--c-text-muted);
}

#files .icon.type-folder {
    color: hsl(var(--hue), var(--sat), 70%);
}

#files .name {
    color: var(--c-text-bold);
}

#headers .date,
#files .date {
    width: 180px;
    color: var(--c-text-default);
}

#headers .size,
#files .size {
    width: 120px;
    color: var(--c-text-default);
}

#files .file {
    font-size: 15px;
    font-weight: normal;
    transition: none;
    border-radius: 4px;
    cursor: default;
}

#browser[data-view-hidden="false"] .file.is-hidden {
    display: none;
}

#files .file.btn-text.is-hidden>* {
    opacity: 0.5;
}

#browser[data-view-type="list"][data-view-size="small"] .icon {
    font-size: 18px;
    width: 24px;
}

#browser[data-view-type="list"][data-view-size="small"] .file {
    height: 26px;
    font-size: 14px;
}

#browser[data-view-type="list"][data-view-size="large"] .icon {
    font-size: 36px;
    width: 42px;
}

#browser[data-view-type="list"][data-view-size="large"] .file {
    height: 48px;
}

#browser[data-view-type="grid"] #headers {
    display: none;
}

#browser[data-view-type="grid"] #files {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 4px;
    padding: 8px;
    flex-grow: 0;
}

#browser[data-view-type="grid"] .file {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2px;
    height: auto;
    padding: 8px;
    flex-grow: 0;
    align-self: start;
}

#browser[data-view-type="grid"] .file .icon {
    width: auto;
    height: auto;
    font-size: 64px;
    height: 64px;
    width: 64px;
}

#browser[data-view-type="grid"] .file .name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    flex-grow: 0;
    font-size: 14px;
}

#browser[data-view-type="grid"] .file .date,
#browser[data-view-type="grid"] .file .size {
    font-size: 12px;
    color: var(--c-text-muted);
}

#browser[data-view-type="grid"] .file[data-is-directory="true"] .date,
#browser[data-view-type="grid"] .file[data-is-directory="true"] .size {
    display: none;
}

#browser[data-view-type="grid"][data-view-size="small"] #files {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2px;
    padding: 4px;
}

#browser[data-view-type="grid"][data-view-size="small"] .file .icon {
    font-size: 42px;
    width: 42px;
    height: 42px;
}

#browser[data-view-type="grid"][data-view-size="large"] #files {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

#browser[data-view-type="grid"][data-view-size="large"] .file .icon {
    font-size: 96px;
    width: 96px;
    height: 96px;
}

#btnMenu,
#btnActions {
    display: none;
}

#status {
    padding: 6px 12px;
    font-size: 14px;
    color: var(--c-text-muted);
    border-top: 1px solid var(--c-border);
}

#status.danger {
    color: var(--c-text-danger);
}